<!-- start: FORGOT -->
<div class="row" ng-controller="LoginController">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="logo">
			<img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
		</div>
		<!-- start: FORGOT BOX -->
		<div class="box-forgot">
			<form class="form-forgot">
			</form>
				<fieldset>
					<center><b>Su contraseña se ha enviado a su correo electrónico<b></center>
					<div class="form-actions">
						<a class="btn btn-primary btn-o" ui-sref="login.signin">
							<i class="fa fa-chevron-circle-left"></i> Iniciar Sesión
						</a>
					</div>
				</fieldset>
			<!-- start: COPYRIGHT -->
			<div class="copyright">
				{{app.year}} &copy; {{ app.name }} by {{ app.author }}.
			</div>
			<!-- end: COPYRIGHT -->
		</div>
		<!-- end: FORGOT BOX -->
	</div>
</div>
<!-- end: FORGOT -->
