<!-- start: FORGOT -->
<div class="row" ng-controller="LoginController">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="logo">
			<img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
		</div>
		<!-- start: FORGOT BOX -->
		<div class="box-forgot">
			<form class="form-forgot" ng-submit="recuperapassowrd()">
				<fieldset>
					<legend>
						¿Olvidaste tu contraseña?
					</legend>
					<p>
						Ingresa tu correo para que te sea enviada tu contraseña
					</p>
					<div class="form-group">
						<span class="input-icon">
							<input type="email" class="form-control" ng-model="correo" name="email" placeholder="Correo Electrónico">
							<i class="fa fa-envelope-o"></i> </span>
					</div>
					<div class="form-actions">
						<a class="btn btn-primary btn-o" ui-sref="login.signin">
							<i class="fa fa-chevron-circle-left"></i> Iniciar Sesión
						</a>
						<button type="submit" class="btn btn-primary pull-right">
							Enviar <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</fieldset>
			</form>
			<!-- start: COPYRIGHT -->
			<div class="copyright">
				{{app.year}} &copy; {{ app.name }} by {{ app.author }}.
			</div>
			<!-- end: COPYRIGHT -->
		</div>
		<!-- end: FORGOT BOX -->
	</div>
</div>
<!-- end: FORGOT -->
