<!-- start: MAIN NAVIGATION MENU -->
<script>
    function init() {
        var frameNoti = window.frames['frame_not'];
        frameNoti.registerToken('basica',
        						angular.element(angular.element('root').context).scope().user.idusuario,
        						angular.element(angular.element('root').context).scope().user.desnombre,
        						angular.element(angular.element('root').context).scope().user.tipousuario);
    }
    function showNotification(payload){
    	// angular.element(document.getElementById('page-title')).scope().showToast()
    	iziToast.success({
		    title: payload.notification.title,
		    message: payload.notification.body,
		});
    }
     function deleteToken(){
            var frameNoti = window.frames['frame_not'];
            frameNoti.deleteFirebaseService('basica',angular.element(angular.element('root').context).scope().user.idusuario);
    }
</script>
<iframe onload="init()" name="frame_not" src="./bower_components/api_notificaciones/index.html" style="boder:0;display: none;"></iframe>
<div class="navbar-title" ng-if="user.tipousuario == 'U'">
	<span>Menú Principal</span>
</div>

<ul class="main-navigation-menu" ng-if="user.tipousuario == 'U'">
	<li ui-sref-active="active">
		<a ui-sref="app.inicio">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Inicio </span>
				</div>
			</div>
		</a>
	</li>
	<li ng-class="{'active open':$state.includes('app.catalogos')}" ng-if="user.indclientes == 1 || user.indempresas == 1 || user.indsubempresas == 1 || user.indconceptos == 1 || user.indestatus == 1 || user.indinstancias == 1 || user.indautoridades == 1 || user.indcontribuciones == 1 || user.indsentidosresolucion == 1">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Catálogos </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active" ng-if="user.indclientes == 1">
				<a ui-sref="app.catalogos.clientes">
					<span class="title"> Clientes </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indempresas == 1">
				<a ui-sref="app.catalogos.empresas">
					<span class="title"> Empresas </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indconceptos == 1">
				<a ui-sref="app.catalogos.conceptos">
					<span class="title"> Conceptos </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indconceptos == 1">
				<a ui-sref="app.catalogos.subconceptos">
					<span class="title"> Sub Conceptos </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indestatus == 1">
				<a ui-sref="app.catalogos.estatus">
					<span class="title"> Estatus </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indinstancias == 1">
				<a ui-sref="app.catalogos.instancias">
					<span class="title"> Instancias </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indautoridades == 1">
				<a ui-sref="app.catalogos.autoridades">
					<span class="title"> Autoridades </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indcontribuciones == 1">
				<a ui-sref="app.catalogos.contribuciones">
					<span class="title"> Contribuciones </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indsentidosresolucion == 1">
				<a ui-sref="app.catalogos.sentidosresolucion">
					<span class="title"> Sentidos de Resolución </span>
				</a>
			</li>
		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.expedientes')}" ng-if="user.indfiscal == 1 || user.indlaboral == 1 || user.indpenal == 1 || user.indmercantil == 1 || user.indcivil == 1 || user.indpropiedadintelectual == 1 || user.indcorporativo == 1 || user.indotros == 1 ">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-folder"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Expedientes </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active" ng-if="user.indfiscal == 1">
				<a ui-sref="app.expedientes.fiscal">
					<span class="title"> Fiscal </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.expedientes.laboral" ng-if="user.indlaboral == 1">
					<span class="title"> Laboral </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.expedientes.penal" ng-if="user.indpenal == 1">
					<span class="title"> Penal </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.expedientes.mercantil" ng-if="user.indmercantil == 1">
					<span class="title"> Mercantil </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.expedientes.civil" ng-if="user.indcivil == 1">
					<span class="title"> Civil </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indpropiedadintelectual == 1">
				<a ui-sref="app.expedientes.PI">
					<span class="title"> Propiedad Intelectual </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.indcorporativo == 1">
				<a ui-sref="app.expedientes.corporativo">
					<span class="title"> Corporativo </span>
				</a>
			</li>
		</ul>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.tareas">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pencil-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Tareas </span>
				</div>
			</div>
		</a>
	</li>
	<li ng-class="{'active open':$state.includes('app.crm')}" >
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-headphone"></i>
				</div>
				<div class="item-inner">
					<span class="title"> CRM </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.crm.prospeccion">
					<span class="title"> Prospección </span>
				</a>
			</li>
		</ul>
	</li>
<!--	
	<li ng-class="{'active open':$state.includes('app.estadisticas')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pie-chart"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Estadísticas </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.estadisticas.asuntos">
					<span class="title"> Asuntos </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.estadisticas.personal">
					<span class="title"> Personal </span>
				</a>
			</li>
		</ul>
	</li>-->
</ul>
<div class="navbar-title" ng-if="user.indusuarios == 1 || user.indpermisos == 1 || user.indaccesoclientes == 1">
	<span>Administración del Sistema</span>
</div>
<ul class="main-navigation-menu" ng-if="user.indusuarios == 1 || user.indpermisos == 1 || user.indaccesoclientes == 1">
	<li ui-sref-active="active" ng-if="user.indusuarios == 1">
		<a ui-sref="app.usuarios">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Usuarios </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.indpermisos == 1">
		<a ui-sref="app.permisos">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-menu-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Permisos de Acceso </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.indaccesoclientes == 1">
		<a ui-sref="app.accesoclientes">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-comments-smiley"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Acceso a clientes </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.tipousuario == 'A'">
		<a ui-sref="app.codigosactivacion">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-key"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Códigos de Activación </span>
				</div>
			</div>
		</a>
	</li>
</ul>

<div class="navbar-title" ng-if="user.tipousuario == 'C'" >
	<span>Consulta de Expedientes</span>
</div>
<ul class="main-navigation-menu" ng-if="user.tipousuario == 'C'">
	<li ng-class="{'active open':$state.includes('app.consultaexpedientes')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-folder"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Consulta de Expedientes </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.consultaexpedientes.fiscal">
					<span class="title"> Fiscal </span>
				</a>
			</li>
			<!--<li ui-sref-active="active">
				<a ui-sref="app.consultaexpedientes.corporativo">
					<span class="title"> Corporativo </span><i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">-
					<li ui-sref-active="active">
						<a ui-sref="app.consultaexpedientes.corporativo.litigio">
							<span class="title"> Litigio </span><i class="icon-arrow"></i>
						</a>
						<ul class="sub-menu">-->
							<li ui-sref-active="active">
								<a ui-sref="app.consultaexpedientes.corporativo.litigio.laboral">
									<span class="title"> Laboral </span>
								</a>
							</li>
							<li ui-sref-active="active">
								<a ui-sref="app.consultaexpedientes.corporativo.litigio.penal">
									<span class="title"> Penal </span>
								</a>
							</li>
							<li ui-sref-active="active">
								<a ui-sref="app.consultaexpedientes.corporativo.litigio.mercantil">
									<span class="title"> Mercantil </span>
								</a>
							</li>
							<li ui-sref-active="active">
								<a ui-sref="app.consultaexpedientes.corporativo.litigio.civil">
									<span class="title"> Civil </span>
								</a>
							</li>
						<!--</ul>
					</li>-->
					<li ui-sref-active="active">
						<a ui-sref="app.consultaexpedientes.corporativo.PI">
							<span class="title"> Propiedad Intelectual </span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.consultaexpedientes.corporativo.corporativo">
							<span class="title"> Corporativo </span>
						</a>
					</li>
				<!--</ul>
			</li>-->
		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.empresas')}" ng-controller="LoginController">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-layout-accordion-list"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Empresas </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active" ng-repeat="s in Subempresas">
				<a ng-click="cambiasubempresa(s);">
					<span class="title"> {{s.desrazonsocials}} </span>
				</a>
			</li>
		</ul>
	</li>
</ul>

<div class="navbar-title" ng-if="user.tipousuario == 'S'">
	<span>Administración de Suscripciones</span>
</div>
<ul class="main-navigation-menu" ng-if="user.tipousuario == 'S'">
	<li ui-sref-active="active">
		<a ui-sref="app.despachos">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Despachos </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.tipousuario == 'S'">
		<a ui-sref="app.codigos">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-menu-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Códigos de Activación </span>
				</div>
			</div>
		</a>
	</li>
</ul>

