<!-- start: SETTINGS -->
<button ct-toggle="toggle" target="settings" parent-active-class="active" class="btn btn-default">
	<i class="fa fa-spin fa-gear"></i>
</button>
<div class="panel-heading ng-scope">
	Selector de Estilo
</div>
<div class="panel-body ng-scope">
	<!-- start: FIXED HEADER -->
	<div class="setting-box clearfix">
		<span class="setting-title pull-left"> Encabezado fijo</span>
		<span class="setting-switch pull-right">
			<switch ng-model="app.layout.isNavbarFixed" class="green"></switch>
		</span>
	</div>
	<!-- end: FIXED HEADER -->
	<!-- start: FIXED SIDEBAR -->
	<div class="setting-box clearfix">
		<span class="setting-title pull-left">Barra lateral fija</span>
		<span class="setting-switch pull-right">
			<switch ng-model="app.layout.isSidebarFixed" class="green"></switch>
		</span>
	</div>
	<!-- end: FIXED SIDEBAR -->
	<!-- start: CLOSED SIDEBAR -->
	<div class="setting-box clearfix">
		<span class="setting-title pull-left">Barra lateral cerrada</span>
		<span class="setting-switch pull-right">
			<switch ng-model="app.layout.isSidebarClosed" class="green"></switch>
		</span>
	</div>
	<!-- end: CLOSED SIDEBAR -->
	<!-- start: FIXED FOOTER -->
	<div class="setting-box clearfix">
		<span class="setting-title pull-left">Pie de página fijo</span>
		<span class="setting-switch pull-right">
			<switch ng-model="app.layout.isFooterFixed" class="green"></switch>
		</span>
	</div>
	<!-- end: FIXED FOOTER -->
</div>
<!-- end: SETTINGS -->
