<script type="text/ng-template" id="cambiapass.html">
	<div class="modal-header">
	<h3 class="modal-title">Cambiar Contraseña</h3>
	</div>
	<div class="modal-body">
		<form role="form" name="cambiapass">
			<div>
				<label for="tempLogin.passwordanterior">
					Contraseña anterior
				</label>
				<input type="password" class="form-control" id="tempLogin.passwordanterior" ng-model='tempLogin.passwordanterior'>
				<label for="tempLogin.passwordnuevo1">
					Nueva Contraseña
				</label>
				<input type="password" class="form-control" id="tempLogin.passwordnuevo1" ng-model='tempLogin.passwordnuevo1'>
				<label for="tempLogin.passwordnuevo2">
					Por favor ingresa nuevamente tu nueva contraseña
				</label>
				<input type="password" class="form-control" id="tempLogin.passwordnuevo2" ng-model='tempLogin.passwordnuevo2'>
		</form>
	</div>
	<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">Cancelar</button>
	<button class="btn btn-primary" ng-click="ok()">Actualizar</button>
	</div>
</script>
<!-- start: TOP NAVBAR -->
<!-- start: NAVBAR HEADER -->
<div class="navbar-header">
	<a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle">
		<i class="ti-align-justify"></i>
	</a>
	<a class="navbar-brand" ui-sref="app.dashboard">
		<img ng-src="{{app.layout.logo}}" alt="{{app.name}}" width="70%" />
	</a>
	<a href="#" class="sidebar-toggler pull-right visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed">
		<i class="ti-align-justify"></i>
	</a>
	<a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed">
		<span class="sr-only">Toggle navigation</span>
		<i class="ti-view-grid"></i>
	</a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
<div class="navbar-collapse collapse" collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">
	<ul class="nav navbar-left" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
		<li><br><h2>{{user.desdespacho}}</h2></li>
	</ul>
	<ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
		<!-- start: MESSAGES DROPDOWN -->
		<!--
		<li class="dropdown" dropdown on-toggle="toggled(open)">
			<a href class="dropdown-toggle" dropdown-toggle>
				<span class="dot-badge partition-red"></span> <i class="ti-comment"></i> <span >Mensajes</span>
			</a>
			<ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
				<li>
					<span class="dropdown-header"> Mensajes</span>
				</li>
				<li>
					<div class="drop-down-wrapper ps-container">
						<ul>
							<li class="unread">
								<a href="javascript:;" class="unread">
									<div class="clearfix">
										<div class="thread-image">
											<img src="./assets/images/Erick.png" alt="">
										</div>
										<div class="thread-content">
											<span class="author">Erick</span>
											<span class="preview">Te han turnado un nuevo asunto</span>
											<span class="time"> Ahora</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;" class="unread">
									<div class="clearfix">
										<div class="thread-image">
											<img src="./assets/images/Erick.png" alt="">
										</div>
										<div class="thread-content">
											<span class="author">Erick</span>
											<span class="preview">Te han turnado un nuevo asunto</span>
											<span class="time">1 hrs</span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="clearfix">
										<div class="thread-image">
											<img src="./assets/images/juan.jpg" alt="">
										</div>
										<div class="thread-content">
											<span class="author">Juan Pablo</span>
											<span class="preview">Te han solicitado validar un expediente</span>
											<span class="time">5 hrs</span>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="view-all">
					<a href="#">
						Ver Todos
					</a>
				</li>
			</ul>
		</li>
		-->
		<!-- end: MESSAGES DROPDOWN -->
		<!-- start: USER OPTIONS DROPDOWN -->
		<li class="dropdown current-user" dropdown on-toggle="toggled(open)" ng-controller="LoginController" >
			<a href class="dropdown-toggle" dropdown-toggle>
			<img ng-src="{{user.desavatar || 'assets/images/avatar/sinusuario.png'}}" alt="{{user.desnombre}}" src="assets/images/avatar/sinusuario.png" onerror="this.src='assets/images/avatar/sinusuario.png';"> <span class="username">{{user.desnombrecorto}} <i class="ti-angle-down"></i></i></span> </a>
				<!--<img src="assets/images/logo.png" alt="{{user.desnombre}}"> <span class="username">{{user.desnombrecorto}} <i class="ti-angle-down"></i></i></span>-->
			</a>
			<ul class="dropdown-menu dropdown-dark">
				<li ng-repeat="s in Subempresas" ng-if="user.tipousuario == 'C'">
					<a ng-click="cambiasubempresa(s);">
						{{s.desrazonsocials}}
					</a>
				</li>
				<li>
					<a ng-click="logout();" onclick="deleteToken()">
						Cerrar Sesión
					</a>
				</li>
				<li ng-if="user.tipousuario=='U'">
					<a ng-click="cambiapassword();">
						Cambiar Contraseña
					</a>
				</li>
			</ul>
		</li>
		<!-- end: USER OPTIONS DROPDOWN -->
	</ul>
	<!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
	<div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true">
		<div class="arrow-left"></div>
		<div class="arrow-right"></div>
	</div>
	<!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
</div>
<!-- end: NAVBAR COLLAPSE -->
<!-- start: TOP NAVBAR -->
